<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 d-none d-md-block"> <!-- Columna izquierda solo visible en dispositivos medianos y grandes -->
            <img src="../../assets/img/logo.jpg" class="img-fluid" alt="Entidad bancaria">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Bienvenido, por favor inicia sesión
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (submit)="onSubmit()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" formControlName="firstName" id="name" aria-describedby="nameHelp" placeholder="Ingrese su nombre">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" formControlName="lastName" id="lastName" aria-describedby="lastNameHelp" placeholder="Ingrese su apellido">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese su contraseña">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="signupForm.invalid">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>