<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Perfil de Usuario</h1>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Información Personal</h5>
            <p class="card-text"><strong>Nombre:</strong> {{ userInfo?.firstName }}</p>
            <p class="card-text"><strong>Apellido:</strong> {{ userInfo?.lastName }}</p>
            <p class="card-text"><strong>Correo:</strong> {{ userInfo?.email }}</p>
          </div>
        </div>
        <h2>Cuentas</h2>
        <div class="card mb-3" *ngFor="let account of userInfo?.accounts">
          <div class="card-body">
            <p class="card-text"><strong>Número de Cuenta:</strong> {{ account }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>